#!/usr/bin/make -f

BUILD_ROOT = $(CURDIR)/debian/tmp
PE_PREFIX  = opt/puppet
RZR_NAME   = razor-server
JAVACMD    = /opt/puppetlabs/bin/java
JAVA_HOME  = /opt/puppetlabs/lib/jvm/pe-java/jre
JRUBY      = JAVA_HOME=$(JAVA_HOME) JAVACMD=$(JAVACMD) /$(PE_PREFIX)/share/torquebox/jruby/bin/jruby -S

%:
	dh $@

override_dh_auto_install:
	mkdir -p $(BUILD_ROOT)/$(PE_PREFIX)/share/$(RZR_NAME)
	mkdir -p $(BUILD_ROOT)/$(PE_PREFIX)/var/razor
	rm -rf  vendor/jruby/1.9/cache
	$(JRUBY) bundle config --local --path /$(PE_PREFIX)/share/$(RZR_NAME)/vendor/bundle
	cp -pr  bin brokers build-winpe db hooks lib vendor locales app.rb \
	        config.ru config.yaml.sample Gemfile Gemfile.lock jars LICENSE \
	        locales NEWS.md Rakefile README.md tasks torquebox.rb \
			$(BUILD_ROOT)/$(PE_PREFIX)/share/$(RZR_NAME)

override_dh_shlibdeps:

